<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--MySql 数据库连接信息-->
    <add key="mysql" value="UserId=root;pwd=Wss#2013;Host=192.168.1.248;Port=3306;Database=rn_ecms;Character Set=utf8;Connect Timeout=3600; Max Pool Size=512;"/>
    <add key="dbtype" value="MySql"/>
    <!-- PLC设备ID -->
    <add key="plcId" value="1"/>
    <!-- 设置从机地址连接信息 模拟web 上的PLC 设备地址 -->
    <add key="SlaveAddress" value="1"/>
    <!-- 设置服务端IP和Port连接信息 输入模拟web上的PLC IP与端口-->
    <!--<add key="IPAndPort" value="192.168.7.69:502"/>-->
    <add key="IPAndPort" value="127.0.0.1:502"/>
    <!-- 热力公司名称 -->
    <add key="companyname" value="合肥市热力公司"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Package;3rdLib;MyLibs;SubFolder\Sub.dll"/>
    </assemblyBinding>
  </runtime>
</configuration>
